[Unit]
Description=WoT network proxy to cache property readings

[Service]
Type=simple
WorkingDirectory=/var/opt/wot/lib/
Environment=WOT_PROXY_CONFIG=/etc/opt/wot/proxy.cfg
ExecStart=/opt/wot/bin/gunicorn 'wot.proxy.app:create_app()'
Restart=on-failure
User=wot

[Install]
WantedBy=multi-user.target
