[Unit]
Description=Bindings on WoT network to legacy protocols
After=network.target

[Service]
Type=simple
Environment=WOT_BINDING_CONFIG=/etc/opt/wot/binding.cfg
ExecStart=/opt/wot/bin/gunicorn 'wot.binding.app:create_app()'
Restart=on-failure
User=wot

[Install]
WantedBy=multi-user.target
