[Unit]
Description=WoT Example CoAP Thing

[Service]
Type=simple
WorkingDirectory=/opt/wot-network
ExecStart=/opt/wot-network/bin/wot-coap-thing

[Install]
WantedBy=multi-user.target
