[Unit]
Description=WoT Thing Directory

[Service]
Type=simple
WorkingDirectory=/opt/wot-network
ExecStart=/opt/wot-network/bin/wot-td

[Install]
WantedBy=multi-user.target
